
.box1{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagebox1{
    width: 50%;
}

.imagebox1 > img{
    width: 400px;
    height: 550px;
    margin-left: 100px;
    position: absolute;
    margin-top: -500px;
}

.rightbox1{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 50%;
    flex-direction: column;
    margin-left: 50%;
}

.rightbox1 > h1{
    font-size: 72px;
    font-weight: 200;
    line-height: 88.5px;
    padding-right: 170px;
}

.rightbox1 > h1 > sup{
    font-size: 18px;
    font-weight: 400;
}

.rightbox1 > p{
    font-size: 22px;
    padding-right: 150px;
    font-weight: 400;
    line-height: 30px;
}

.inputbox{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    
}

.inputbox > input{
    border: none;
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 80px;
}

.inputbox > div{
    border: 1px solid black;
    background: black;
    padding: 15px 30px;
    border-radius: 10px;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    background: rgb(33,205,156);
    font-size: 58px;
    font-weight: 300;
    line-height: 77px;
}

.box2 > p{
    margin: 130px;
    padding-top: 100px;
}

.box3{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 400px;
    height: 700px;
}

.box3> img{
    width: 65%;
    height: 90%;
    position: absolute;
    margin-top: -200px;
}

.box3 > p{
    padding-top: 300px;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.box3link{
    color: black;
    font-size: 22px;
    font-weight: 400;
}

.box4{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 2rem;
}

.imagebox4{
    width: 50%;
}

.imagebox4 > img{
    width: 100%;
}

.rightbox4{
    width: 40%;
    padding-right: 150px;
    font-size: 45px;
    font-weight: 200;
    line-height: 54px;
}

.rightbox4 > p> span{
    font-weight: 400;
}

.box5{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.box5content{
    width: 32%;
    padding: 20px;
    padding-right: 60px;
}

.box5text1{
    border-bottom: 2px solid black;
    font-size: 32px;
    font-weight: 400;
    line-height: 10px;
}

.box5content > h4{
    font-size: 32px;
    font-weight: 400;
    line-height: 42.5px;
}

.box5content > p{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}

/*  --------------------------Media Querry------------------------------------------------ */

@media screen and (max-width: 1022px) {
    .imagebox1{
        width: 100%;
    }
    .rightbox1{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-left: 30px;
        text-align: left;
        padding-right: 30px;
        text-align: left;
    }
    .rightbox1 > h1{
        padding-right: 0px;
        font-size: 40px;
        font-weight: 400;
    }
    .rightbox1 > p{
        padding-right: 0px;
        font-size: 15px;
    }

    .inputbox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .inputbox > input{
        width: 90%;
        margin-bottom: 20px;
    }
    .imagebox1 > img{
        position: absolute;
        margin-top: 0px;
        width: 85%;
        margin-left: 30px;
    }
    .box2{
        margin-top: 500px;
        width: 100%;
        font-size: 25px;
        /* height: 300px; */
        line-height: 50px;
        font-weight: 400;
    }
    .box2 > p{
        padding: 0px;
        margin: 0px 30px;
    }
    .box3{
        width: 100%;
        padding-left: 0px;
        margin-left: 10%;
    }
    .box3 > img{
        width: 80%;
    }
    .box4{
        width: 100%;
        flex-wrap: wrap;
        padding: 0px;
    }
    .imagebox4{
        width: 100%;
    }
    .rightbox4{
        width: 100%;
        font-size: 26px;
        line-height: 30px;
        padding-right: 0px;
        padding: 20px;
    }

    .box5{
        width: 100%;
        flex-wrap: wrap;
        padding: 0px;
    }
    .box5content{
        width: 100%;
    }
}




.box6{
    width: 100%;
    background: rgb(27,73,66);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px;
}

.box6right{
    padding-right: 100px;
}

.box6left{
    padding: 100px;
    text-align: center;
}

.box6left > h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
}

.box6left > p{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}

.box6left > div{
    border-top: 5px solid white;
    width: 150px;
    margin-left: 150px;
}


.box7{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box7 > img{
    width: 100%;
    height: 100%;
}

.box7text{
    position: absolute;
    text-align: center;
    color: white;
}

.box7text > div{
    border-top: 5px solid white;
    width: 150px;
    margin-left: 40%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.box7text > h1{
    font-size: 72px;
    font-weight: 400;
    line-height: 88.5px;
}

.box7text > h3{
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
}

.box7link{
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px;
}

.box8{
    width: 100%;
    padding: 5%;
    background: rgb(200,227,216);
}

.box8 > h1{
    font-size: 58px;
    font-weight: 400;
    line-height: 77px;
}

.box8 > p{
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.box9{
    width: 100%;
    display: flex;
    background: rgb(200,227,216);
}

.box9content{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.box9content > img{
    width: 90%;
}

.box9content > h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.box9content > h1{
    font-size: 40px;
    font-weight: 300;
    line-height: 54px;
}

.box9content > p{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}

.box9link{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px;
}

.box10{
    width: 100%;
    display: flex;
    background: rgb(200,227,216);
    padding-top: 100px;
    padding-bottom: 100px;
}

.box10right{
    width: 60%;
    margin-right: 100px;
}

.box10right > img{
    width: 100%;
}

.box10left{
    width: 40%;
    padding: 0px 50px;
}

.box10left > h1{
    font-size: 58px;
    font-weight: 400;
    line-height: 77px;
}

.box10left > p{
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}


.box11{
    width: 100%;
    display: flex;
}

.box11left{
    width: 50%;
    padding: 30px;
    background: rgb(34,34,34);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box11left> img{
    width: 80%;
}

.box11right{
    width: 40%;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(27,73,66);
    color: rgb(200,227,216);
}

.box11right > p{
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
}

.box11link{
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px;
}

/* ---------------------------Media Querry------------------------ */

@media screen and (max-width: 1022px){
    .box6{
        width: 100%;
        flex-wrap: wrap;
    }
    .box6right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box9{
        width: 100%;
        flex-wrap: wrap;
    }
    .box9content{
        width: 100%;
    }

    .box10{
        width: 100%;
        flex-wrap: wrap;
    }
    .box10left{
        width: 100%;
    }

    .box10left > h1{
        font-size: 40px;
        line-height: 44px;
        font-weight: 300;
    }

    .box10left > p{
        font-size: 16px;
        line-height: 25.6px;
        font-weight: 400;
    }

    .box10right{
        width: 100%;
        margin: 50px;
    }
    .box11{
        width: 100%;
        flex-wrap: wrap;
    }
    .box11left{
        width: 100%;
    }
    .box11right{
        width: 100%;
    }
}

