.IntroOuterDiv{
    width: 100%;
    min-height: 400px;
    /* border: black 1px solid; */
}

.IntroDiv{
    width: 100%;
    min-height: 400px;
    display: flex;
    padding: 5% 2% 5% 4%;
    gap: 50px;
    /* border: black 1px solid; */
}

.IntroDivText{
    /* border: black 1px solid; */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align: left;
}


.IntroDivText h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.signUpButton{
    background-color: #1C4942;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

.signUpButton:hover{
    background-color: #2f2f2f;
}



.TenthDiv{
    width: 100%;
    min-height: 360px;
    display: flex;
    /* padding: 0 4%; */
    border: black 1px solid;
}

.TenthDivText{
    text-align: center;
    min-height: 760px;
    background-color: #222222;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 8%;
}

.TenthDivText h1{
    font-family: 'PT Serif', serif;
    color: #C8E3D8;
    font-weight: 300;
}

.TenthDivText p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #C8E3D8;
    font-weight: 300;
}

.ContactUsButton{
    width: 105px;
    background-color: #1A4942;
    border: none;
    border-bottom: 2px solid #C8E3D8;
    color: #C8E3D8;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.ContactUsButton:hover{
    border-bottom: 2px solid white;
    color: white;
}

.TenthDivImg{
    min-height: 616px;
    background-color: #1A4942;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 5%;
}

.GetStartedButton{
    background-color: #2F2F2F;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
}

.GetStartedButton:hover{
    background-color: #373737;
}

.LastDiv{
    width: 100%;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11% 0 0 0;
    background-color: #C8E3D8;
}

.LastDivHead h1{
    font-family: 'PT Serif', serif;
    font-weight: 100;
    margin: 0;
    color: #222222;
}

.LastDivHead h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #222222;
}

.topicHead{
    display: flex;
    flex-direction: column;
    width: 120px;
    text-align: center;
}

.headingBar{
    width: 120px;
    height: 4px;
    background-color: #FFFFFF;
}

.topicHead p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 6px 0;
    color: #FFFFFF;
}

.PricingOuterDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.ButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 20px;
    padding: 50px;
}

.PlansDiv{
    display: flex;
    background-color: #F7FAF3;
    width: 100%;
    color: #1C4942;
}

.PlanDiv{
    display: flex;
    flex-direction: column;
    border: #C8E3D3 .5px solid;
    padding: 3% 2.5%;
    text-align: left;
}

.PlanDiv h1{
    font-family: 'PT Serif', serif;
    font-size: 62px;
    font-weight: 200;
    margin: 10px 0;
}

.PlanDiv h2{
    font-family: 'PT Serif', serif;
    font-size: 36px;
    font-weight: 200;
    margin: 0;
}

.PlanDiv h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.PlanDiv p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 48px;
}

.PlanDiv li{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 50px;
}

.monthlybutton{
    height: 48px;
    width: 120px;
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;
    border: 1px solid #1C4942;
    color: #1C4942;
    cursor: pointer;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.monthlyselectedbutton{
    height: 48px;
    width: 120px;
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;
    border: 1px solid #1C4942;
    color: white;
    cursor: pointer;
    background-color: #1C4942;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.annualbutton{
    height: 48px;
    width: 120px;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
    border: 1px solid #1C4942;
    color: #1C4942;
    cursor: pointer;
    border-left: none;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.annualselectedbutton{
    height: 48px;
    width: 120px;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
    border: 1px solid #1C4942;
    color: white;
    cursor: pointer;
    border-left: none;
    background-color: #1C4942;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.ShowMoreButton1{
    width: 120px;
    background-color: #F7FAF3;
    border: none;
    border-bottom: 2px solid #1A4942;
    color: #1A4942;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}

.ShowMoreButton2{
    width: 120px;
    background-color: #F7FAF3;
    border: none;
    border-bottom: 2px solid #1A4942;
    color: #1A4942;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}

.ShowMoreButton3{
    width: 120px;
    background-color: #F7FAF3;
    border: none;
    border-bottom: 2px solid #1A4942;
    color: #1A4942;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}

.ShowMoreButton4{
    width: 120px;
    background-color: #F7FAF3;
    border: none;
    border-bottom: 2px solid #1A4942;
    color: #1A4942;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    .IntroDiv{
        flex-direction: column;
    }

    .IntroDivImg{
        width: 80%;
    }

    .IntroDivText h1{
        font-family: 'PT Serif', serif;
        font-weight: 300;
        font-size: 50px;
        color: #1C4942;
    }

    .TenthDiv{
        flex-direction: column;
    }

    .TenthDivText{
        width: 100%;
    }

    .TenthDivImg{
        width: 100%;
    }

    .TenthDivText h1{
        font-size: 28px;
    }

    .LastDivHead h1{
        font-size: 44px;
    }
    
    .LastDivHead h2{
        font-size: 40px;
    }

    .LastDivHead{
        width: 90%;
    }

    .SecondDivHead{
        width: 90%;
    }
    
    .SecondDivHead h1{
        font-size: 44px;
    }

    .PlansDiv{
        flex-direction: column;
        background-color: white;
        align-content: center;
        align-items: center;
        gap: 30px;
    }

    .PlanDiv{
        width: 80%;
        background-color: #F7FAF3;
    }

    .ShowMoreButton1{
        display: block;
    }

    .ShowMoreButton2{
        display: block;
    }

    .ShowMoreButton3{
        display: block;
    }

    .ShowMoreButton4{
        display: block;
    }

    .largescreenfeaturesdiv{
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    
    .IntroDiv{
        flex-direction: column;
    }

    .IntroDivImg{
        width: 80%;
    }

    .IntroDivText h1{
        font-family: 'PT Serif', serif;
        font-weight: 300;
        font-size: 50px;
        color: #1C4942;
    }

    .TenthDiv{
        flex-direction: column;
    }

    .TenthDivText{
        width: 100%;
    }

    .TenthDivImg{
        width: 100%;
    }

    .TenthDivText h1{
        font-size: 28px;
    }

    .LastDivHead h1{
        font-size: 44px;
    }
    
    .LastDivHead h2{
        font-size: 40px;
    }

    .LastDivHead{
        width: 90%;
    }

    .SecondDivHead{
        width: 90%;
    }
    
    .SecondDivHead h1{
        font-size: 44px;
    }

    .PlansDiv{
        flex-direction: column;
        background-color: white;
        align-content: center;
        align-items: center;
        gap: 30px;
    }

    .PlanDiv{
        width: 80%;
        background-color: #F7FAF3;
    }

    .ShowMoreButton1{
        display: block;
    }

    .ShowMoreButton2{
        display: block;
    }

    .ShowMoreButton3{
        display: block;
    }

    .ShowMoreButton4{
        display: block;
    }

    .largescreenfeaturesdiv{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .IntroDiv{
        flex-direction: row;
    }
    
    .IntroDivImg{
        width: 50%;
        display: flex;
        align-items: center;
        /* border: black 1px solid; */
    }

    .IntroDivText{
        width: 30%;
    }

    .IntroDivText h1{
        font-family: 'PT Serif', serif;
        font-weight: 300;
        font-size: 56px;
        color: #1C4942;
    }

    .TenthDiv{
        flex-direction: row;
    }

    .TenthDivText{
        width: 34%;
    }

    .TenthDivImg{
        width: 40%;
    }

    .TenthDivText h1{
        font-size: 40px;
    }

    .LastDivHead h1{
        font-size: 52px;
    }
    
    .LastDivHead h2{
        font-size: 44px;
    }

    .LastDivHead{
        width: 80%;
    }

    .SecondDivHead{
        width: 60%;
    }
    
    .SecondDivHead h1{
        font-size: 56px;
    }

    .PlansDiv{
        flex-direction: column;
        background-color: white;
        align-content: center;
        align-items: center;
        gap: 30px;
    }

    .PlanDiv{
        width: 80%;
        background-color: #F7FAF3;
    }

    .ShowMoreButton1{
        display: none;
    }

    .ShowMoreButton2{
        display: none;
    }

    .ShowMoreButton3{
        display: none;
    }

    .ShowMoreButton4{
        display: none;
    }

    .largescreenfeaturesdiv{
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .IntroDiv{
        flex-direction: row;
    }
    
    .IntroDivImg{
        width: 50%;
        display: flex;
        align-items: center;
        /* border: black 1px solid; */
    }

    .IntroDivText{
        width: 30%;
    }

    .IntroDivText h1{
        font-family: 'PT Serif', serif;
        font-weight: 300;
        font-size: 56px;
        color: #1C4942;
    }

    .TenthDiv{
        flex-direction: row;
    }

    .TenthDivText{
        width: 34%;
    }

    .TenthDivImg{
        width: 40%;
    }

    .TenthDivText h1{
        font-size: 40px;
    }

    .LastDivHead h1{
        font-size: 60px;
    }
    
    .LastDivHead h2{
        font-size: 56px;
    }

    .LastDivHead{
        width: 45%;
    }

    .SecondDivHead{
        width: 45%;
    }
    
    .SecondDivHead h1{
        font-size: 68px;
    }

    .PlansDiv{
        flex-direction: column;
        background-color: white;
        align-content: center;
        align-items: center;
        gap: 30px;
    }

    .PlanDiv{
        width: 80%;
        background-color: #F7FAF3;
    }

    .ShowMoreButton1{
        display: none;
    }

    .ShowMoreButton2{
        display: none;
    }

    .ShowMoreButton3{
        display: none;
    }

    .ShowMoreButton4{
        display: none;
    }

    .largescreenfeaturesdiv{
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .IntroDiv{
        flex-direction: row;
    }
    
    .IntroDivImg{
        width: 50%;
        display: flex;
        align-items: center;
        /* border: black 1px solid; */
    }

    .IntroDivText{
        width: 30%;
    }

    .IntroDivText h1{
        font-family: 'PT Serif', serif;
        font-weight: 300;
        font-size: 56px;
        color: #1C4942;
    }
    
    .TenthDiv{
        flex-direction: row;
    }

    .TenthDivText{
        width: 34%;
    }

    .TenthDivImg{
        width: 40%;
    }

    .TenthDivText h1{
        font-size: 40px;
    }

    .LastDivHead h1{
        font-size: 60px;
    }
    
    .LastDivHead h2{
        font-size: 56px;
    }

    .LastDivHead{
        width: 45%;
    }

    .SecondDivHead{
        width: 45%;
    }
    
    .SecondDivHead h1{
        font-size: 68px;
    }

    .PlansDiv{
        flex-direction: row;
        background-color: #F7FAF3;
        align-items: flex-start;
        gap: 0;
    }

    .PlanDiv{
        width: 20%;
    }

    .ShowMoreButton1{
        display: none;
    }

    .ShowMoreButton2{
        display: none;
    }

    .ShowMoreButton3{
        display: none;
    }

    .ShowMoreButton4{
        display: none;
    }

    .largescreenfeaturesdiv{
        display: block;
    }
}